<?xml version="1.0" encoding="UTF-8"?>

<web-app>
<servlet>
<servlet-name>regservlet</servlet-name>
<servlet-class>Registration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>regservlet</servlet-name>
<url-pattern>/linking</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>logservlet</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logservlet</servlet-name>
<url-pattern>/Loginlinking</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>depositservlet</servlet-name>
<servlet-class>Deposit</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>depositservlet</servlet-name>
<url-pattern>/deposit</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>withdrawservlet</servlet-name>
<servlet-class>Withdraw</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>withdrawservlet</servlet-name>
<url-pattern>/withdraw</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>transferservlet</servlet-name>
<servlet-class>Transfer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>transferservlet</servlet-name>
<url-pattern>/transfer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>changepswservlet</servlet-name>
<servlet-class>ChangePassword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>changepswservlet</servlet-name>
<url-pattern>/changepassword</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>state</servlet-name>
<servlet-class>BankStatements</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>state</servlet-name>
<url-pattern>/Statementbank</url-pattern>
</servlet-mapping>

</web-app>
